<div class="demo-container">

    <!-- 1. Service Plan Card -->
    <card>
        <card-header>
            <badge variant="success">Active</badge>
            <div>Name of the service plan</div>
            <div class="text-xs">Complete by: Fynn care</div>
            <a href="#" class="text-link">Related assesment</a>
            <div slot="end" class="text-xs">05/17/2024 01:35 PM</div>
            <icon name="placeholder" [size]="20"></icon>
        </card-header>
    </card>

    <!-- 2. ADL Name Card -->
    <card>
        <card-header>
            <div>ADL Name</div>
        </card-header>
        <card-section>
            <div class="text-sm"><span class="font-medium">Goal:</span> Some realistic copy goes here</div>
            <div class="text-sm"><span class="font-medium">Intervention:</span> Some Realistic Copy Goes Here</div>
            <div class="text-sm"><span class="font-medium">Approach:</span> Some Realistic Copy Goes Here</div>
        </card-section>
        <card-footer>
            <div class="flex-row">
                <span>Minimal</span>
            </div>
            <div class="flex-row">
                <span>1</span>
            </div>
            <div class="flex-row">
                <span>Weekly on Tuesday at 12:00PM</span>
            </div>
        </card-footer>
    </card>

    <!-- 3. Title Card -->
    <card>
        <card-header>
            <div>Title</div>
            <div class="text-xs">Reported by Iva Ryan</div>
            <div slot="end" class="text-xs">8:00 PM</div>
        </card-header>
    </card>

    <!-- 4. Risk Card -->
    <card>
        <card-header>
            <badge variant="success">Open</badge>
            <div>Elevated risk of something should be written here more</div>
            <div slot="end" class="text-xs">09/10/2024</div>
        </card-header>
    </card>

    <!-- 5. Aggression Risk Card -->
    <card>
        <card-header>
            <div>Aggression Risk, Custom Warning, Antibiotic-Resistant Infection Warning</div>
            <div class="text-xs">Warning by Iva Ryan</div>
        </card-header>
        <card-footer>
            <div class="flex-row">
                <span>05/21/2025</span>
            </div>
            <div class="flex-row">
                <span>Documentation required</span>
            </div>
        </card-footer>
    </card>

    <!-- 6. GDS Card -->
    <card>
        <card-header>
            <div>Geriatric Depression Scale (GDS)</div>
            <div class="text-sm">Scheduled for: 05/17/2024</div>
            <div class="text-sm">Created by: Fynn care</div>
        </card-header>
        <card-footer>
            <badge variant="medium-subtle" icon="checkmark-circle-outline">Completed</badge>
        </card-footer>
    </card>

    <!-- 7. Lisinopril Card -->
    <card>
        <card-header>
            <div>Lisinopril</div>
        </card-header>
        <card-section>
            <div class="text-sm"><span class="font-medium">Dosage:</span> 40mg</div>
            <div class="text-sm"><span class="font-medium">Administration:</span> Oral</div>
            <div class="text-sm"><span class="font-medium">Frequency:</span> Daily</div>
            <div class="text-sm"><span class="font-medium">Start date:</span> 2/11/2025</div>
            <div class="text-sm"><span class="font-medium">Scheduled time:</span> 4.30 PM</div>
            <div class="text-sm"><span class="font-medium">Last administered:</span> 4.30 PM, 2/10/2025</div>
        </card-section>
    </card>

    <!-- 8. Alert Monitoring Card -->
    <card>
        <card-header>
            <div>Alert Monitoring</div>
            <div slot="end" class="text-xs">07/24/2025; 8:00 PM</div>
        </card-header>
        <card-section>
            <div class="text-sm font-medium">Reason & Instruction</div>
            <ul class="list-disc">
                <li class="list-item">Resident requires close monitoring due to a recent history of falls and
                    disorientation. Continuous observation ensures their safety and well-being within the nursing home
                    environment.</li>
                <li class="list-item">Implement frequent monitoring and establish a routine that includes regular
                    check-ins. Create a safe and supportive environment by removing hazards and ensuring easy access to
                    assistance.</li>
            </ul>
        </card-section>
        <card-section>
            <div class="text-sm font-medium">Vitals</div>
            <div class="bg-gray-50 grid-4">
                <div class="stat-item">
                    <div class="stat-value">102/103 mm/hg</div>
                    <div class="stat-label">Blood pressure</div>
                </div>
                <div class="stat-item">
                    <div class="stat-value">96 bpm</div>
                    <div class="stat-label">Heart rate</div>
                </div>
                <div class="stat-item">
                    <div class="stat-value">36 bpm</div>
                    <div class="stat-label">Respiratory rate</div>
                </div>
                <div class="stat-item">
                    <div class="stat-value">82.6 F</div>
                    <div class="stat-label">Temperature</div>
                </div>
                <div class="stat-item">
                    <div class="stat-value">180 lbs</div>
                    <div class="stat-label">Weight</div>
                </div>
                <div class="stat-item">
                    <div class="stat-value">65 mg/dL</div>
                    <div class="stat-label">Glucose</div>
                </div>
                <div class="stat-item">
                    <div class="stat-value">98%</div>
                    <div class="stat-label">O2 Saturation</div>
                </div>
            </div>
        </card-section>
    </card>

</div>