.card-section {
    padding: var(--fynn-space-12) 0;
    border-top: 1px solid var(--fynn-color-medium-subtle);
    display: flex;
    flex-direction: column;
    gap: var(--fynn-space-8);
}

.card-section:first-child {
    border-top: none;
    padding-top: 0;
}

.card-section:last-child {
    padding-bottom: 0;
}