/* You can add global styles to this file, and also import other style files */
:root {
  --fynn-color-primary: #1D75EF;
  --fynn-color-testing-color: #FF0000;
  --fynn-color-primary-rgb: #1D75EF;
  --fynn-color-primary-contrast: #FFFFFF;
  --fynn-color-primary-contrast-rgb: #FFFFFF;
  --fynn-color-primary-shade: #1A67D2;
  --fynn-color-primary-tint: #3483F1;
  --fynn-color-primary-faded: #B8D3FA;
  --fynn-color-primary-faded-rgb: #BBD6FA;
  --fynn-color-primary-faded-contrast: #000000;
  --fynn-color-primary-faded-contrast-rgb: #000000;
  --fynn-color-primary-faded-shade: #A5BCDC;
  --fynn-color-primary-faded-tint: #C2DAFB;
  --fynn-color-primary-subtle: #F2F7FF;
  --fynn-color-primary-subtle-rgb: #F2F7FF;
  --fynn-color-primary-subtle-contrast: #000000;
  --fynn-color-primary-subtle-contrast-rgb: #000000;
  --fynn-color-primary-subtle-shade: #D5D9E0;
  --fynn-color-primary-subtle-tint: #F3F8FF;
  --fynn-color-primary-pale: #CFE2FC;
  --fynn-color-success: #47AE0F;
  --fynn-color-success-rgb: #47AE0F;
  --fynn-color-success-contrast: #FFFFFF;
  --fynn-color-success-contrast-rgb: #FFFFFF;
  --fynn-color-success-shade: #3E990D;
  --fynn-color-success-tint: #59B627;
  --fynn-color-status-success: #66ad47;
  --fynn-color-success-faded: #EFFFE6;
  --fynn-color-success-faded-rgb: #EFFFE7;
  --fynn-color-success-faded-contrast: #000000;
  --fynn-color-success-faded-contrast-rgb: #000000;
  --fynn-color-success-faded-shade: #D2E0CB;
  --fynn-color-success-faded-tint: #F1FFE9;
  --fynn-color-warning: #FFC409;
  --fynn-color-warning-rgb: #FFC409;
  --fynn-color-warning-contrast: #000000;
  --fynn-color-warning-contrast-rgb: #000000;
  --fynn-color-warning-shade: #E0AC08;
  --fynn-color-warning-tint: #FFCA22;
  --fynn-color-warning-faded: #FFF3CE;
  --fynn-color-warning-faded-rgb: #FFF3CE;
  --fynn-color-warning-faded-contrast: #000000;
  --fynn-color-warning-faded-contrast-rgb: #000000;
  --fynn-color-warning-faded-shade: #E0D6B5;
  --fynn-color-warning-faded-tint: #FFF4D3;
  --fynn-color-warning-strong: #AA8409;
  --fynn-color-warning-strong-rgb: #AA8409;
  --fynn-color-warning-strong-contrast: #000000;
  --fynn-color-warning-strong-contrast-rgb: #000000;
  --fynn-color-warning-strong-shade: #967408;
  --fynn-color-warning-strong-tint: #B39022;
  --fynn-color-danger: #C5000F;
  --fynn-color-danger-rgb: #C5000F;
  --fynn-color-danger-contrast: #FFFFFF;
  --fynn-color-danger-contrast-rgb: #FFFFFF;
  --fynn-color-danger-shade: #AD000D;
  --fynn-color-danger-tint: #CB1A27;
  --fynn-color-danger-faded: #F6D9DB;
  --fynn-color-danger-faded-rgb: #F6D9DB;
  --fynn-color-danger-faded-contrast: #000000;
  --fynn-color-danger-faded-contrast-rgb: #000000;
  --fynn-color-danger-faded-shade: #D8BFC1;
  --fynn-color-danger-faded-tint: #F7DDDF;
  --fynn-color-light: #FFFFFF;
  --fynn-color-light-rgb: #FFFFFF;
  --fynn-color-light-contrast: #000000;
  --fynn-color-light-contrast-rgb: #000000;
  --fynn-color-light-shade: #E0E0E0;
  --fynn-color-light-tint: #FFFFFF;
  --fynn-color-light-faded: #F4F4F4;
  --fynn-color-light-faded-rgb: #FFFFFF;
  --fynn-color-light-faded-contrast: #000000;
  --fynn-color-light-faded-contrast-rgb: #000000;
  --fynn-color-light-faded-shade: #D7D7D7;
  --fynn-color-light-faded-tint: #EEEEEE;
  --fynn-color-medium: #5F5F5F;
  --fynn-color-medium-rgb: #5F5F5F;
  --fynn-color-medium-contrast: #FFFFFF;
  --fynn-color-medium-contrast-rgb: #FFFFFF;
  --fynn-color-medium-shade: #545454;
  --fynn-color-medium-tint: #6F6F6F;
  --fynn-color-medium-subtle: #E1E1E1;
  --fynn-color-medium-subtle-rgb: #E1E1E1;
  --fynn-color-medium-subtle-contrast: #000000;
  --fynn-color-medium-subtle-contrast-rgb: #000000;
  --fynn-color-medium-subtle-shade: #C6C6C6;
  --fynn-color-medium-subtle-tint: #E4E4E4;
  --fynn-color-medium-faded: #A8ABAF;
  --fynn-color-medium-faded-rgb: #A8ABAF;
  --fynn-color-medium-faded-contrast: #000000;
  --fynn-color-medium-faded-contrast-rgb: #000000;
  --fynn-color-medium-faded-shade: #94969A;
  --fynn-color-medium-faded-tint: #B1B3B7;
  --fynn-color-dark: #2F2F2F;
  --fynn-color-dark-rgb: #2F2F2F;
  --fynn-color-dark-contrast: #FFFFFF;
  --fynn-color-dark-contrast-rgb: #FFFFFF;
  --fynn-color-dark-shade: #292929;
  --fynn-color-dark-tint: #444444;
  --fynn-font-size-base: 14px;
  --fynn-font-size-sm: 12px;
  --fynn-font-size-lg: 16px;
  --fynn-font-size-xl: 24px;
  --fynn-new-font-family: 'Source Sans Pro', 'Inter', sans-serif;
  --fynn-font-weight-regular: 300;
  --fynn-font-weight-semibold: 500;
  --fynn-font-weight-bold: 700;
  --fynn-line-height-sm: 16px;
  --fynn-line-height-base: 21px;
  --fynn-line-height-lg: 24px;
  --fynn-line-height-xl: 28px;
  --fynn-space-0: 0px;
  --fynn-space-4: 4px;
  --fynn-space-8: 8px;
  --fynn-space-12: 12px;
  --fynn-space-16: 16px;
  --fynn-space-20: 20px;
  --fynn-space-24: 24px;
  --fynn-space-32: 32px;
  --fynn-space-40: 40px;
  --fynn-space-48: 48px;
  --fynn-space-64: 64px;
  --fynn-space-80: 80px;
  --fynn-space-96: 96px;
  --fynn-space-128: 128px;
  --fynn-space-160: 160px;
  --fynn-space-192: 192px;
  --fynn-space-224: 224px;
  --fynn-space-256: 256px;
  --fynn-breakpoints-xs: 0px;
  --fynn-breakpoints-sm: 576px;
  --fynn-breakpoints-md: 768px;
  --fynn-breakpoints-lg: 992px;
  --fynn-breakpoints-xl: 1200px;
  --fynn-radius-0: 0px;
  --fynn-radius-6: 6px;
  --fynn-radius-8: 8px;
  --fynn-radius-12: 12px;
  --fynn-radius-16: 16px;
  --fynn-radius-24: 24px;
  --fynn-radius-x: 1000px;
  --fynn-padding-0: var(--fynn-space-0);
  --fynn-padding-4: var(--fynn-space-4);
  --fynn-padding-8: var(--fynn-space-8);
  --fynn-padding-12: var(--fynn-space-12);
  --fynn-padding-16: var(--fynn-space-16);
  --fynn-padding-20: var(--fynn-space-20);
  --fynn-padding-24: var(--fynn-space-24);
  --fynn-padding-32: var(--fynn-space-32);
  --fynn-padding-40: var(--fynn-space-40);
  --fynn-padding-48: var(--fynn-space-48);
  --fynn-padding-64: var(--fynn-space-64);
  --icons-16: 16px;
  --icons-20: 20px;
  --icons-24: 24px;
  --icons-32: 32px;
}

body {
  font-family: var(--fynn-new-font-family);
  background-color: var(--fynn-color-light-faded);
  margin: 0;
  padding: var(--fynn-padding-24);
  color: var(--fynn-color-dark);
}